/* adding fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* Start Gloabl Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* start adding variables */
:root{
    --myGray : #e8eceb;
    --myOrange : #fa5d57;
    --myLightBlue : #8cBDB9;
    --myDarkBlue : #2D3E4E;
    --myGradientBlue : #7510F7;
    --generalPadding : 20px;
    --generalTransitionDuration : 0.7s;
    --generalFont: 'Poppins', sans-serif;
}
.main_button
{
    border: none;
    background-color: var(--myOrange);
    cursor: pointer;
    outline: none;
    color: black;
    color: black;
    border-radius: 3px;
    padding: 5px 10px;
    transition: var(--generalTransitionDuration);
    width: 150px;
}
input{
  background: none;
  outline: none;
  border: none;
}

